<p class="error js-alt">{{_('Jabir needs JS enabled to work properly.')}}</p>
<div
    class="message-container js-only ai loading"
    id="ai-message-container"
    data-gitee-based-on="{{ _('Based on') }}"
    data-gitee-stop="{{ _('Stopped') }}"
>
    <div class="chat-header">
        <div class="title">
            {{ icon_small('ai') }}
            <h3>{{ _('Answer by Jabir') }}</h3>
        </div>
        <select id="chat-model">
            <option>Loading...</option>
        </select>
    </div>
    <div class="load-container">
        <div class="loading-indicators">
            <span class="indicator"> </span>
            <span class="indicator"> </span>
            <span class="indicator"> </span>
        </div>
        <button class="btn stop" id="ai-stop">
            <span>{{ _('Stop') }}</span> {{ icon_small('stop') }}
        </button>
    </div>
    <form class="send-message" id="send-message">
        <input type="text" dir="auto" placeholder="{{ _('Ask Jabir anything...') }}"
        {% if preferences.get_value('ai_chat') == 'chat' %} value="{{ '%s \nQuery: %s' % (current_locale, q|e) }}" 
        {% elif preferences.get_value('ai_chat') == 'summarize' %} 
        value="{{ '%s \nQuery:%s \nResults:%s' % (current_locale, q|e, results[:5]) }}" {%
        endif %} />
        <button>{{ icon_small('send') }}</button>
        <span class="loader">{{ icon_small('loader') }}</span>
    </form>
</div>
