<div id="sidebar">
    <div class="container">
        <h1>
            <label for="sidebar_btn">{{ icon_small('back') }}</label
            ><span>{{- _('Preferences') -}}</span>
        </h1>
        <form
            id="search_form"
            method="post"
            action="{{ url_for('preferences') }}"
            autocomplete="off"
        >
            {%- if 'language' not in locked_preferences -%} {%- include
            'smart/madules/sidebar/language.html' -%} {% endif %} {%- if
            'autocomplete' not in locked_preferences -%} {%- include
            'smart/madules/sidebar/autocomplete.html' -%} {%- endif -%} {%- if
            'safesearch' not in locked_preferences -%} {%- include
            'smart/madules/sidebar/safe_search.html' -%} {%- endif -%} {%- if
            'ui_locale' not in locked_preferences -%} {%- include
            'smart/madules/sidebar/interface_lang.html' -%} {%- endif -%} {%- if
            'results_on_new_tab' not in locked_preferences -%} {%- include
            'smart/madules/sidebar/results_on_new_tab.html' -%} {%- endif -%}
            {%- if 'infinite_scroll' not in locked_preferences -%} {%- include
            'smart/madules/sidebar/infinite_scroll.html' -%} {%- endif -%} {%-
            if 'method' not in locked_preferences -%} {%- include
            'smart/madules/sidebar/http_method.html' -%} {%- endif -%} {%
            include 'smart/madules/sidebar/ai_chat.html' %} {%- if 'image_proxy'
            not in locked_preferences -%} {%- include
            'smart/madules/sidebar/image_proxy.html' -%} {%- endif -%}

            <button type="submit" class="primary full-width">
                {{- _('Save') -}}
            </button>
        </form>
        <a href="{{ url_for('preferences') }}" class="btn full-width secondary"
            >{{- _('See all preferences') -}}</a
        >
        <br />
        <div class="about">{{- about_section | safe -}}</div>
    </div>
</div>
