{% from 'smart/icons.html' import icon_small %}{% extends "smart/base.html" %}
{% block header %}
{% endblock %} {% block content %}

<div class="hero">
    <a href="/" class="hero-logo">
        <img src="/static/img/logo.svg" alt="{{ instance_name }}" />
    </a>

    <form
        id="search"
        method="{{ method or 'POST' }}"
        action="{{ url_for('search') }}"
        role="search"
        class="screen"
    >
        {% include 'smart/modules/categories_box.html' %} {% include
        'smart/modules/search_box.html' %}

        <input type="hidden" name="language" value="{{ current_language }}" />
        <input type="hidden" name="time_range" value="{{ time_range }}" />
        <input type="hidden" name="safesearch" value="{{ safesearch }}" />
        <input type="hidden" name="theme" value="{{ theme }}" />
        {% if timeout_limit %}<input
            type="hidden"
            name="timeout_limit"
            value="{{ timeout_limit|e }}"
        />{% endif %}
    </form>

    <div class="hero-links">
        {%- if donation_url -%}
        <a href="{{ donation_url }}" class="hero-link">{{_('donate')}}</a>
        {%- endif -%}
        <a href="{{ url_for('info', pagename='about') }}" class="hero-link">{{_('about page')}}</a>
        {% include 'smart/modules/sidebar_btn.html' %}
    </div>
</div>

{% endblock %}
