{% from 'smart/icons.html' import icon_small %} {% extends "smart/base.html" %}
{% block header %}

<a href="/" class="logo">
    {# - for times there's no logo, use the instance name
    <span>{{ instance_name }}</span>
    #}
    <img src="/static/img/logo.svg" alt="{{ instance_name }}" />
</a>
<div class="links">
    <a href="" class="link">{{icon_small('donate')}}</a>
    {% include 'smart/madules/sidebar_btn.html' %}
</div>

{% endblock %} {% block content %}

<div class="container">{% include 'smart/search_box.html' %}</div>

{% endblock %}
