{% macro search_form() %}
<form
    id="search"
    method="{{ method or 'POST' }}"
    action="{{ url_for('search') }}"
    role="search"
>
    {{ caller() }}

    <input type="hidden" name="language" value="{{ current_language }}" />
    <input type="hidden" name="time_range" value="{{ time_range }}" />
    <input type="hidden" name="safesearch" value="{{ safesearch }}" />
    <input type="hidden" name="theme" value="{{ theme }}" />
    {% if timeout_limit %}<input
        type="hidden"
        name="timeout_limit"
        value="{{ timeout_limit|e }}"
    />{% endif %}
</form>
{% endmacro %}
