{% from 'smart/icons.html' import icon %}

<form
    id="search"
    method="{{ method or 'POST' }}"
    action="{{ url_for('search') }}"
    role="search"
>
    <div id="search_categories">
        <div class="categories js-only">
            {% if endpoint == 'index' %} {% for category in range(4) %}
            <label for="category_{{ categories[category] }}">
                <input
                    type="checkbox"
                    name="category_{{ categories[category] }}"
                    {%
                    if
                    categories[category]
                    in
                    selected_categories
                    %}
                    checked
                    {%
                    endif
                    %}
                    id="category_{{ categories[category] }}"
                    hidden
                />
                {{ icon(categories[category] )}}
                <span>{{ categories[category] }}</span>
            </label>
            {% endfor %} {% endif %}
        </div>
        <div class="search_box">
            <input
                id="q"
                name="q"
                type="text"
                placeholder="{{ _('Search for...') }}"
                autocomplete="off"
                autocapitalize="none"
                spellcheck="false"
                autocorrect="off"
                dir="auto"
                value="{{ q or '' }}"
            />
            <button
                id="clear_search"
                type="reset"
                aria-label="{{ _('clear') }}"
            >
                <span class="js-only">Clear</span
                ><span class="js-alt">{{ _('clear') }}</span>
            </button>
            <button
                id="send_search"
                type="submit"
                aria-label="{{ _('search') }}"
            >
                <span class="js-only">Search</span
                ><span class="js-alt">{{ _('search') }}</span>
            </button>
        </div>
    </div>
    <input type="hidden" name="language" value="{{ current_language }}" />
    <input type="hidden" name="time_range" value="{{ time_range }}" />
    <input type="hidden" name="safesearch" value="{{ safesearch }}" />
    <input type="hidden" name="theme" value="{{ theme }}" />
    {% if timeout_limit %}<input
        type="hidden"
        name="timeout_limit"
        value="{{ timeout_limit|e }}"
    />{% endif %}
</form>
