@use './definitions.scss' as *;
@use './mixins.scss' as mixin;

.bar-chart {
    display: flex;
    align-items: center;
    justify-content: start;
    @include mixin.rounded(full);
    height: 4px;
    overflow: hidden;
    background-color: var(--secondary-background-color);

    .bar {
        height: 100%;
        background-color: var(--tertiary-background-color);
        transition: flex $transition-normal;
    }

    .bar.l1 {
        background-color: var(--primary-color);
    }

    .bar.l2 {
        background-color: var(--secondary-color);
    }
}
