@use 'sass:color';
@use "definitions.scss" as *;

// Light
body {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --background-color: #{$background-color};
    --secondary-background-color: #{$secondary-background-color};
    --tertiary-background-color: #{$tertiary-background-color};
    --text-color: #{$text-color};
    --secondary-text-color: #{$secondary-text-color};
    --tertiary-text-color: #{$tertiary-text-color};
    --filled-text-color: #{$filled-text-color};
    --secondary-filled-text-color: #{$text-color};
    --border-color: #{$tertiary-background-color};
    --secondary-border-color: #{$secondary-background-color};
    --tooltip-background-color: #{$tooltip-background-color};
    --shadow-sm: #{$shadow-sm};
    --shadow-md: #{$shadow-md};
    --shadow-lg: #{$shadow-lg};
    --shadow-xl: #{$shadow-xl};

    &.nord {
        --background-color: #{$nord-snow-2};
        --secondary-background-color: #{$nord-snow-1};
        --tertiary-background-color: #{$nord-snow-0};
        --text-color: #{$nord-night-0};
        --secondary-text-color: #{$nord-night-1};
        --primary-color: #{$nord-forest-0};
        --secondary-color: #{$nord-forest-3};
        --secondary-filled-text-color: #{$filled-text-color};
    }
}


// Dark
@media (prefers-color-scheme: dark) {
    body {
        --primary-color: #{$primary-color-dark};
        --secondary-color: #{$secondary-color-dark};
        --background-color: #{$background-color-dark};
        --secondary-background-color: #{$secondary-background-color-dark};
        --tertiary-background-color: #{$tertiary-background-color-dark};
        --text-color: #{$text-color-dark};
        --secondary-text-color: #{$secondary-text-color-dark};
        --tertiary-text-color: #{$tertiary-text-color-dark};
        --filled-text-color: #{$filled-text-color-dark};
        --secondary-filled-text-color: #{$filled-text-color-dark};
        --border-color: #{$tertiary-background-color-dark};
        --secondary-border-color: #{$secondary-background-color-dark};
        --tooltip-background-color: #{$tooltip-background-color-dark};
        --shadow-sm: #{$shadow-sm-dark};
        --shadow-md: #{$shadow-md-dark};
        --shadow-lg: #{$shadow-lg-dark};
        --shadow-xl: #{$shadow-xl-dark};

        &.nord {
            --background-color: #{$nord-night-0};
            --secondary-background-color: #{$nord-night-2};
            --tertiary-background-color: #{$nord-night-1};
            --text-color: #{$nord-snow-0};
            --secondary-text-color: #{$nord-snow-2};
            --primary-color: #{$nord-forest-1};
            --secondary-color: #{$nord-forest-3};
            --secondary-filled-text-color: #{$nord-snow-0};
        }

        &.dracula {
            --background-color: #{$dracula-background};
            --text-color: #{$dracula-foreground};
            --secondary-text-color: #{$dracula-comment};
            --primary-color: #{$dracula-purple};
            --secondary-color: #{$dracula-pink};
            --secondary-filled-text-color: #{$dracula-foreground};
            --border-color: #{$dracula-selection};
        }
    }
}
