@use "./mixins.scss" as mixin;
@use "./definitions.scss" as *;

.loading-indicators {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    @include mixin.rounded(lg);
    background-color: var(--secondary-background-color);

    .indicator {
        width: .6rem;
        height: .6rem;
        @include mixin.rounded(full);
        border: 2px solid var(--primary-color);
        animation: loading-indicator 2s infinite;
        will-change: transform, opacity;
    }

    :nth-child(1) {
        border-color: $parch-cyan-dark;
    }

    :nth-child(2) {
        border-color: $parch-blue-dark;
        animation-delay: 1s;
    }

    :nth-child(3) {
        border-color: $parch-green-dark;
        animation-delay: .5s;
    }
}

@keyframes loading-indicator {
    0% {
        transform: scale(1);
        opacity: 0.3;
    }

    50% {
        transform: scale(1);
        opacity: 0.3;
    }

    75% {
        transform: scale(.9);
        opacity: 1;
    }
}
