//  --- Definitions ---

// - Colors -
// Light theme
$primary-color: #0290ee;
$secondary-color: #f8b600;
$background-color: #ffffff;
$secondary-background-color: #f8f8f8;
$text-color: #000000;
$filled-text-color: #ffffff;
$tooltip-background-color: rgba(0, 0, 0, .5);

// Dark theme
$primary-color-dark: #0b9eff;
$secondary-color-dark: #c48e18;
$background-color-dark: #080808;
$secondary-background-color-dark: #191919;
$text-color-dark: #fff;
$filled-text-color-dark: $filled-text-color;
$tooltip-background-color-dark: $tooltip-background-color;

// Nord theme
$nord-night-0: #2e3440;
$nord-night-1: #3b4252;
$nord-night-2: #434c5e;
$nord-night-3: #4c566a;
$nord-snow-0: #d8dee9;
$nord-snow-1: #e5e9f0;
$nord-snow-2: #eceff4;
$nord-forest-0: #8fbcbb;
$nord-forest-1: #88c0d0;
$nord-forest-2: #81a1c1;
$nord-forest-3: #5e81ac;

// Deracula theme
$dracula-backrgound: #282a36;
$dracula-foreground: #f8f8f2;
$dracula-selection: #44475a;
$dracula-comment: #6272a4;
$dracula-red: #ff5555;
$dracula-orange: #ffb86c;
$dracula-yellow: #f1fa8c;
$dracula-green: #50fa7b;
$dracula-purple: #bd93f9;
$dracula-cyan: #8be9fd;
$dracula-pink: #ff79c6;
$dracula-blue: #8be9fd;

// - Screens -

$screen-xs: 25rem;
$screen-sm: 35rem;
$screen-md: 56rem;
$screen-lg: 70rem;
$screen-xl: 90rem;

// - Rounded corners -

$border-radius: 1rem;
$border-radius-sm: .5rem;
$border-radius-lg: 2rem;