// Import all the definitions
@use './definitions.scss' as *;

$dir: ltr !default;

// Corner radius mixin
@mixin rounded($radius: "md") {
    @if $radius =="sm" {
        border-radius: $border-radius-sm;
    }

    @else if $radius =="lg" {
        border-radius: $border-radius-lg;
    }

    @else if $radius =="full" {
        border-radius: 9999px;
    }

    @else {
        border-radius: $border-radius;
    }
}

// Screens mixin
@mixin screens($screens...) {
    @each $screen in $screens {
        @media (min-width: $screen) {
            @content;
        }
    }
}

@mixin max-screens($screens...) {
    @each $screen in $screens {
        @media (max-width: $screen) {
            @content;
        }
    }
}

// -- Direction based mixins --

// Float mixin
@mixin float($float) {
    @if $dir =='ltr' {
        float: $float;
    }

    @else {
        @if $float =='left' {
            float: right;
        }

        @else if $float =='right' {
            float: left;
        }
    }
}

// Margin mixin
@mixin margin-left($margin) {
    @if $dir =='ltr' {
        margin-left: $margin;
    }

    @else {
        margin-right: $margin;
    }
}

@mixin margin-right($margin) {
    @if $dir =='ltr' {
        margin-right: $margin;
    }

    @else {
        margin-left: $margin;
    }
}

@mixin left($amount) {
    @if $dir =='ltr' {
        left: $amount;
    }

    @else {
        right: $amount;
    }
}

@mixin right($amount) {
    @if $dir =='ltr' {
        right: $amount;
    }

    @else {
        left: $amount;
    }
}

// Fixed Direction
@mixin direction() {
    @if $dir =='ltr' {
        direction: ltr;
    }

    @else {
        direction: rtl;
    }
}

// Fix Color in Dark Mode
@mixin fix-color() {
    @media (prefers-color-scheme: dark) {
        mix-blend-mode: luminosity;
        filter: invert(1);
    }
}

// Dark Mode
@mixin dark-mode() {
    @media (prefers-color-scheme: dark) {
        @content;
    }
}

// Functions

@function returnAlign($align) {
    @if $dir =='rtl' {
        @if $align =='left' {
            @return right;
        }

        @else if $align =='right' {
            @return left;
        }

        @else {
            @return $align;
        }
    }

    @else {
        @return $align;
    }
}