@use './mixins.scss' as mixin;
@use './definitions.scss' as *;

#pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $space-4;
    padding: 0 $space-5;
    margin-top: $space-4;
    overflow-x: auto;
    width: 100%;

    @include mixin.max-screens($screen-md) {
        width: calc(100vw - 3rem);
    }

    .page-numbers {
        display: flex;
        gap: $space-2;
        align-items: center;

        .page-number {
            background-color: var(--background-color);
            @include mixin.shadow(sm);

            &.current {
                background-color: var(--primary-color);
                color: var(--filled-text-color);
                cursor: initial;
                @include mixin.shadow(md);
            }
        }
    }

    button {
        white-space: nowrap;
        font-size: $font-size-sm;
    }
}
