@use 'mixins.scss' as mixin;
@use 'definitions.scss' as *;

:is(#preferences, #stats, #info):not(:has(.not-found)) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
        "header links"
        "main main"
        "footer footer";
    padding: $space-4;
    gap: $space-4;
    max-width: 1800px;
    overflow-y: auto;

    @include mixin.screens($screen-xl) {
        padding: $space-4 4rem;
    }

    @include mixin.max-screens($screen-md) {
        grid-template-columns: 2fr min-content;

        .links {
            align-items: end !important;
            padding-bottom: $space-1;
        }
    }

    @include mixin.max-screens($screen-sm) {
        column-gap: 0;

        .links {
            display: none;
        }
    }

    .header {
        grid-area: header !important;
        padding: 0 !important;
    }

    #search.header {
        padding-top: $space-2 !important;
    }

    .links {
        grid-area: links;
        align-items: center;
        justify-content: end;
    }

    footer {
        padding: 0;
    }
}

#preferences_form {
    display: grid;
    grid-area: main;
    gap: $space-4;
    grid-template-areas: "main"
        "backup";

    @include mixin.screens($screen-md) {
        grid-template-columns: subgrid;
        grid-template-areas: "main backup";
    }

    .modules-container {
        grid-area: main;
        padding: $space-5;

        select {
            background-color: var(--secondary-background-color);
        }

        .save-btn {
            margin-top: $space-4;
            display: block;
            width: 100%;
            text-align: center;
        }

        h1 {
            margin-bottom: $space-4;
            font-size: $font-size-xl;
            font-weight: $font-weight-semibold;
        }

        &:has(#general_tab:target) .btn[href="#general_tab"],
        &:has(#engines-tab:target) .btn[href="#engines-tab"] {
            background-color: var(--primary-color);
            color: var(--filled-text-color);
        }

        .tab-id+div {
            display: none;
        }

        &:not(:has(.tab-id:target)) {
            .default {
                display: block;
            }

            .default-btn {
                background-color: var(--primary-color);
                color: var(--filled-text-color);
            }
        }

        .tab-id:target+div {
            display: block;

            &.engines-tab {
                display: flex;
            }
        }

        .engines-tab {
            padding-top: $space-4;
            flex-wrap: wrap;

            .category-tab {
                display: none;
            }

            .category-btn {
                padding: $space-2 $space-4;
                order: 0;
                text-transform: capitalize;
                font-size: $font-size-sm;
            }

            .category-radio {
                display: none;
            }

            .category-radio:checked+.category-btn {
                font-weight: $font-weight-semibold;
                text-decoration: wavy underline 1px var(--primary-color);
            }

            .category-radio:checked+.category-btn+.category-tab {
                display: grid;
                order: 10;
            }

            .category-tab {
                grid-template-columns: min-content repeat(2, minmax(10rem, 1fr)) repeat(7, min-content);
                gap: $space-2;
                width: 100%;
                padding: $space-4 mixin.bidiValue($space-4, $space-2) $space-4 mixin.bidiValue($space-2, $space-4);

                .note {
                    font-size: $font-size-sm;
                    text-align: justify;
                    margin-bottom: $space-4;
                    color: var(--secondary-text-color);
                    grid-column: span 10;
                    line-height: $line-height-relaxed;
                }

                .group-header {
                    background-color: var(--secondary-background-color);
                    padding: $space-2 $space-4;
                    grid-column: span 10;
                    display: flex;
                    align-items: center;
                    gap: $space-4;
                    margin: $space-4 0 $space-2;
                    @include mixin.rounded(sm);

                    .group-name {
                        font-size: $font-size-lg;
                        font-weight: $font-weight-semibold;
                        text-transform: uppercase;

                        &.more {
                            font-size: $font-size-sm;
                            font-weight: $font-weight-regular;
                            opacity: .5;
                            text-transform: capitalize;

                            &::after {
                                content: "…";
                            }

                            &+.bang {
                                display: none;
                            }
                        }
                    }
                }

                h3 {
                    text-wrap: nowrap;
                    font-weight: $font-weight-medium;

                    &:first-of-type {
                        @include mixin.margin-left($space-2);
                    }

                    &.detail {
                        font-size: $font-size-sm;
                    }
                }

                h4 {
                    font-weight: $font-weight-regular;
                    text-transform: capitalize
                }

                .switch {
                    @include mixin.margin-left($space-2);
                }

                .bang {
                    font-family: var(--mono-font-family);

                    background-color: var(--secondary-background-color);
                    @include mixin.rounded(sm);
                    padding: $space-1 $space-2;
                    font-size: $font-size-sm;
                }

                .numbric {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    padding: $space-1;
                    text-wrap: nowrap;
                    height: 1.75rem;

                    &:is(.danger, .error) {
                        background-color: rgba(255, 59, 48, .1);
                        color: #FF3B30;
                    }

                    &.success {
                        background-color: rgba(52, 199, 89, .1);
                        color: #34C759;
                    }
                }
            }
        }

    }

    .backup-container {
        grid-area: backup;

        .backup-box {
            padding: $space-6;
            width: 100%;

            .title {
                display: flex;
                align-items: center;
                gap: $space-4;
                font-size: $font-size-2xl;
                font-weight: $font-weight-semibold;
                justify-content: center;
                padding: $space-4;
                margin-bottom: $space-6;
            }

            .description {
                margin-bottom: $space-6;
                text-align: justify;
                line-height: $line-height-relaxed;
            }

            &>.btn {
                display: block;
                text-align: center;
                margin-top: $space-4;
            }

            .data-box {
                display: flex;
                flex-direction: column;

                input[type="radio"]:checked+.data-page {
                    margin-top: $space-4;
                    display: block;
                }

                .data-page {
                    padding: $space-4;
                    width: 100%;
                    display: none;
                    @include mixin.rounded();
                    background-color: var(--secondary-background-color);

                    .section {
                        padding: $space-2 0;
                        border-bottom: 1px solid var(--secondary-background-color);
                    }

                    :last-child {
                        border-bottom: none;
                    }

                    h4 {
                        margin-bottom: $space-2;
                    }

                    p {
                        text-indent: $space-4;
                        font-size: $font-size-sm;
                        color: var(--secondary-text-color);
                        text-align: justify;
                        line-height: $line-height-relaxed;
                    }

                    input {
                        background-color: var(--background-color);
                        color: var(--text-color);
                        @include mixin.rounded(sm);
                        padding: $space-2 $space-4;
                        width: 100%;
                        margin-bottom: $space-2;
                        font-size: $font-size-sm;
                    }

                    .sidebyside {
                        display: flex;
                        gap: $space-2;

                        input {
                            flex: 1;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    :is(.modules-container, .backup-box) {
        background-color: var(--background-color);
        @include mixin.rounded(lg);
        @include mixin.shadow(md);
    }
}


fieldset {
    margin-bottom: $space-2;
    padding: $space-2 0;

    .container {
        display: flex;
        padding: 0 $space-2;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: $space-2;


        .name {
            display: flex;
            gap: $space-2;
            align-items: center;

            &:not(#pref_safesearch)[tooltip]::after {
                left: 100%;
            }

            svg {
                height: 1.25rem;
                width: 1.25rem;
                color: var(--secondary-text-color);
            }
        }

        .color-container {
            display: flex;
            align-items: center;
            gap: $space-2;


            input.color {
                appearance: none;
                width: 2rem;
                height: 2rem;
                @include mixin.rounded(sm);

                &.gitee {
                    background: linear-gradient(30deg, rgba(0, 234, 255, 1) 30%, rgba(0, 128, 255, 1) 60%, rgba(0, 255, 128, 1) 60%);
                }

                &.nord {
                    background: linear-gradient(30deg, rgba(143, 188, 187, 1) 30%, rgba(236, 239, 244, 1) 30%, rgba(236, 239, 244, 1) 60%, rgba(129, 161, 193, 1) 60%);
                }

                &.dracula {
                    background: linear-gradient(30deg, rgba(151, 86, 244, 1) 30%, rgba(40, 42, 54, 1) 30%, rgba(40, 42, 54, 1) 60%, rgba(255, 121, 198, 1) 60%);
                }

                &:checked {
                    outline: var(--primary-color) solid 3px;
                    outline-offset: 2px;
                }
            }
        }
    }

    .description {
        margin: $space-4 $space-4 0;
        text-align: justify;
        color: var(--secondary-text-color);
        font-size: $font-size-sm;
        line-height: $line-height-relaxed;
    }
}

select {
    padding: $space-2 $space-4;
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    @include mixin.rounded(sm);
    max-width: 250px;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%3E%0A%3Cg%3E%3Cpolygon%20points%3D%22128%2C192%20256%2C320%20384%2C192%22%2F%3E%3C%2Fg%3E%0A%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    background-position: mixin.bidiValue(95%, 5%);
    padding-inline-end: 2rem;
    text-transform: capitalize;
    font-size: $font-size-sm;
    @include mixin.transition;

    &:hover {
        background-color: var(--tertiary-background-color);
    }

    @media (prefers-color-scheme: dark) {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%3E%0A%3Cg%3E%3Cpolygon%20fill%3D%22%23ddd%22%20points%3D%22128%2C192%20256%2C320%20384%2C192%22%2F%3E%3C%2Fg%3E%0A%3C%2Fsvg%3E");
    }
}
