@use './style.scss' with ($dir: 'rtl');

@import "../../node_modules/vazirmatn/misc/UI/Vazirmatn-UI-font-face.css";

* {
    font-family: 'Vazirmatn UI', sans-serif;
}

.message-container .message-box {
    .message {
        border-radius: 1.5rem 1.5rem .5rem 1.5rem !important;
    }

    &.user .message {
        border-radius: 1.5rem 1.5rem 1.5rem .5rem !important;
    }
}