@use './definitions.scss' as *;
@use './mixins.scss' as mixin;

#stats .container {
    grid-area: main;
    background-color: var(--background-color);
    padding: $space-5 $space-6;
    @include mixin.rounded(lg);
    @include mixin.shadow(md);
    overflow: auto;

    h1 {
        padding-bottom: $space-4;
        border-bottom: 1px solid var(--secondary-background-color);
        margin-bottom: $space-4;
        font-size: $font-size-xl;
        font-weight: $font-weight-semibold;

    }

    .table {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, minmax(5rem, 1fr));

        .more {
            grid-column: span 5;
        }

        th,
        td,
        .cell {
            text-align: start;
            padding: $space-2;
            text-transform: capitalize;
            font-size: $font-size-sm;
        }

        .response-details {
            margin-top: -$space-2;
            margin-bottom: $space-2;
            padding: 0 $space-4;

            summary {
                font-size: $font-size-sm;
                color: var(--secondary-text-color);
                cursor: pointer;
            }

            table {
                font-size: $font-size-base;
                width: 100%;
            }
        }
    }

    .issue-form {
        width: min(100%, 50rem);
        margin: 3rem auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $space-4;

        p {
            font-size: $font-size-base;
            margin-bottom: $space-2;
            line-height: $line-height-relaxed;
        }

        textarea {
            background-color: var(--secondary-background-color);
            color: var(--text-color);
            @include mixin.rounded(sm);
            padding: $space-2;
            min-height: 10rem;
            field-sizing: content;
            width: 100%;
            margin-bottom: $space-5;
            font-size: $font-size-sm;
        }

        input[type="checkbox"] {
            margin-right: $space-2;
        }

        .link {
            text-decoration: wavy underline var(--primary-color);
        }

        .step+label {
            display: none;
        }

        .step:checked+label {
            display: inline-block;
        }

        .step-content {
            display: none;
        }

        .step-content:has(+input:checked) {
            display: block;

        }

        .step+label+.step-content {
            display: block;
        }

        .step:checked+label+.step-content {
            display: none;
        }

        .submit-container {
            display: flex;
            flex-direction: column;
            gap: $space-4;
            align-items: center;
            margin-bottom: 3rem;
        }

        button[type="submit"] {
            display: none;
        }

        :has(#confirm:checked) button[type="submit"] {
            display: block;
        }
    }
}
