// In fiist place, Reset all browser default styles
@forward './reset.scss';

// Then, import all the definitions
@use './definitions.scss' as *;

// Then, import all the mixins
$dir: ltr !default;
@forward './mixins.scss' with ($dir: $dir !default);
@use './mixins.scss' as mixin;

// CSS Color varables
@use 'colors';

// Button
@use 'button';

// Tooltip
@use 'tooltip';

@forward './infobox.scss';

// Result Styles
@forward './results/default';
@forward './results/images';

@forward './preferences';

@function toRem($value) {
    @return floor($value / 16) * 1rem;
}

%link-button {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: var(--primary-color);
    color: var(--filled-text-color);
    @include mixin.rounded(full)
}

br {
    height: 1rem;
    width: 100%;
    display: block;
    content: " ";
}

body {
    display: flex;
    gap: 0;
    overflow: hidden;
    transition: gap 250ms ease-in-out,
        padding 500ms ease-in-out,
        background-color 300ms ease-in-out;

    background-color: var(--secondary-background-color);

    .body-container {
        flex: 3;
        background-color: var(--secondary-background-color);
        color: var(--text-color);
        @include mixin.rounded();
    }
}


*:focus-visible {
    outline: 3px solid var(--primary-color);
    outline-offset: .1rem;
}

.icon-big {
    width: 4rem;
}

.icon {
    width: 2.25rem;
}

.icon-small {
    width: 1.5rem;
}

.body-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100svh;
    overflow: hidden;
    transition: height 100ms ease-in-out;

    footer {
        grid-area: footer;
    }

    main {
        grid-area: main;
    }
}

.links {
    display: flex;
    gap: .5rem;

    .link {
        display: inline-block;
        padding: 0.5rem;
        height: min-content;
        @include mixin.rounded(full);
        transition: background-color 100ms ease-in-out;

        &:is(:hover, :focus-within) {
            background-color: var(--background-color);
        }

        svg {
            width: 1.5rem;
        }

        &.config {
            transition: transform 1s ease-in-out;
        }
    }
}

#index,
#None {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

// 404 page

main:has(.not-found) {
    .background {
        font-size: 60vh;
        color: var(--primary-color);
        opacity: .5;
        position: absolute;
        pointer-events: none;
    }

    h1 {
        z-index: 1;
        font-size: 3rem;
        text-align: center;
        margin: 1rem 0;
    }

    .button {
        z-index: 1;
        @extend %link-button;
    }
}


#index {
    header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;

        .logo {
            font-size: 2rem;
            display: block;
            text-align: center;
            // TODO: when dark mode colors added
            // @include mixin.fix-color();

            img {
                max-width: clamp(70px, 25vw, 150px);
            }
        }
    }
}

#results {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5rem min-content 1fr auto;
    grid-template-areas:
        "search links"
        "search amount"
        "results sidebox"
        "footer footer";
    gap: 1rem;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1800px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: grid-template-columns 300ms ease-in-out;

    @include mixin.screens($screen-xl) {
        padding: 0 4rem;
    }

    .result-count {
        grid-area: amount;
        font-size: .8rem;
        color: var(--secondary-text-color);

        &-container {
            display: flex;
            align-items: center;
            gap: .5rem;
            justify-content: end;
        }
    }

    footer {
        grid-area: footer;
    }

    &:has(#filter:checked) .results-container {
        margin-top: 2rem;
    }

    .info-panel {
        grid-area: sidebox;
    }

    .results-container {
        grid-area: results;
        position: relative;
        transition: margin-top 100ms ease-in-out;

        .message-container {
            background-color: var(--background-color);
            padding: 1.5rem;
            @include mixin.rounded(lg);

            .title {
                display: flex;
                align-items: center;
                font-weight: 700;
                gap: .5rem;
                font-size: 1.5rem;

                svg {
                    fill: var(--primary-color);
                }
            }

            .message-box {
                margin-top: 1rem;

                .message {
                    background-color: var(--secondary-background-color);
                    margin-bottom: 1rem;
                    padding: 1rem;
                    border-radius: 1.5rem 1.5rem 1.5rem .5rem;
                    width: 80%;
                    max-width: 800px;
                }

                .reference {
                    font-size: .8rem;
                    color: var(--text-color);

                    a {
                        display: inline-block;
                        background-color: var(--secondary-background-color);
                        padding: 0 .5rem;
                    }
                }

                &.user {
                    display: flex;
                    flex-direction: row-reverse;

                    .message {
                        background-color: var(--primary-color);
                        color: var(--filled-text-color);
                        border-radius: 1.5rem 1.5rem .5rem 1.5rem;
                    }
                }
            }

            .load-container {
                display: none;
                margin-top: 1rem;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;

                .loading-indecators {
                    background-color: var(--filled-text-color);
                    border-radius: .5rem 1.5rem 1.5rem 1.5rem;
                    padding: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: .5rem;

                    .indecator {
                        width: .6rem;
                        height: .6rem;
                        @include mixin.rounded(full);
                        border: 2px solid var(--text-color);
                        animation: loading-indecator 2s infinite;
                    }

                    :nth-child(2) {
                        animation-delay: 1s;
                    }

                    :nth-child(3) {
                        animation-delay: .5s;
                    }
                }

                .btn.stop {
                    display: flex;
                    @include mixin.rounded(full);
                    gap: 1rem;
                    align-items: center;
                    background-color: var(--text-color);
                    color: var(--filled-text-color);
                }
            }

            .send-message {
                display: flex;
                border: 1px solid var(--border-color);
                @include mixin.rounded(full);
                padding: 0 .5rem;
                gap: .5rem;
                align-items: center;
                margin-top: 1rem;

                input {
                    flex: 1;
                    background-color: transparent;
                    border: none;
                    color: var(--text-color);
                    @include mixin.rounded(full);
                    padding: .5rem;


                    &:focus {
                        outline: none;
                    }
                }

                button {
                    background-color: transparent;
                    border: none;

                    &:focus {
                        outline: none;
                    }
                }
            }

            &.ai.loading {
                background-color: var(--primary-color);
                color: var(--filled-text-color);

                svg {

                    fill: var(--filled-text-color);
                }

                .load-container {
                    display: flex;
                }

                :is(.message-box, .send-message) {
                    display: none;
                }
            }

        }

        .result-group {
            margin-top: 1rem;
            padding: 1rem;
            @include mixin.rounded(lg);
            background-color: var(--background-color);
        }

        .result-group:first-child {
            margin-top: 0;
        }
    }

    &:has(.image-page) {
        grid-template-columns: 2fr 1fr 0fr;
        grid-template-areas:
            "search links links"
            "search amount amount"
            "results results image-detail"
            "footer footer footer";

    }

    &.image-open {
        grid-template-columns: 2fr 0fr 1fr;
    }

    .share_btn {
        background-color: transparent;
        border: none;
        @include mixin.rounded(full);
        padding: .25rem;

        &:hover {
            background-color: var(--background-color);
        }

        svg {
            width: 1rem;
            height: 1rem;
        }
    }
}

.links {
    grid-area: links;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: end;

    :is(.link, .sidebar_btn) {
        width: 40px;
        height: 40px;
    }
}

body:has(.sidebar_btn[open]) {
    padding: .5rem;
    gap: .5rem;
    background-color: var(--background-color);

    #sidebar {
        flex: 1;
        min-width: $screen-xs;
        border-width: 5px;

        &>.container {
            @include mixin.margin-left(0);
            transition: margin-left 150ms ease-in-out 100ms;
        }
    }

    #index {
        height: calc(100svh - 1rem);
    }

    header .links .link.config {
        background-color: var(--secondary-background-color);
        transform: rotate(60deg);
    }

}

#sidebar {
    flex: 0;
    min-width: 0;
    @include mixin.rounded();
    overflow: hidden;
    background: var(--secondary-background-color);
    border: var(--secondary-background-color) solid;
    border-width: 0;
    transition: flex 300ms ease-in-out,
        min-width 300ms ease-in-out;
    position: relative;

    &>.container {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        min-width: $screen-xs - 2rem;
        padding: 1rem;
        @include mixin.margin-left(50rem);
        transition: margin-left 50ms ease-in-out;

        :is(button, .btn) {
            margin-bottom: .5rem;
        }

        h1 {
            font-size: 1.5rem;
            padding: .25rem 0;
            text-align: center;
            color: var(--text-color);
            @include mixin.rounded(full);
        }

        .about {
            background-color: var(--background-color);
            overflow: hidden;
            @include mixin.rounded();
            padding: 1rem;

            p {
                text-align: justify;
                font-size: .8rem;
            }

            ul {
                padding-left: 1rem;

                li {
                    margin: .5rem 0;
                }
            }

        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;

    @include mixin.max-screens($screen-md) {
        justify-content: center;
    }

    .footer-links {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;

        a {
            @extend %link-button;
        }
    }
}

.search_box {
    background-color: var(--background-color);
    padding: .25rem .5rem;
    width: clamp(400px, 50vw, 40rem);
    @include mixin.rounded(full);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;

    @include mixin.max-screens($screen-sm) {
        width: 70vw;
        @include mixin.rounded();
    }

    .icon {
        @include mixin.margin-left(.5rem);
        width: 1.5rem;
        height: 1.5rem;
    }


    input {
        flex: 1;
        background-color: transparent;
        border: none;
        color: var(--text-color);
        @include mixin.rounded(full);
        padding: .5rem;
        @include mixin.direction();


        &:focus {
            outline: none;
        }
    }

    button {
        background-color: transparent;
        border: none;
        color: var(--text-color);
        @include mixin.rounded(full);
        padding: .5rem;

        &:focus {
            outline: none;
        }
    }

    #clear_search {
        background-color: transparent;
        border: none;
        color: var(--border-color);
        @include mixin.rounded(full);
        padding: .5rem;

        &:focus {
            outline: none;
        }

        &:hover {
            color: var(--text-color);
        }
    }

    #send_search {
        background-color: var(--secondary-color);
        padding: .5rem 1.5rem;

        &:focus {
            outline: none;
        }
    }
}

#search.screen {
    .search_box {
        margin-top: 1rem;
    }

    #search_categories .categories {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        @include mixin.max-screens($screen-md) {
            transform: scale(0.8);
        }

        @include mixin.max-screens($screen-sm) {
            display: none;
        }

        label:nth-child(1) .category-icon {
            background-color: #32e258;
        }

        label:nth-child(2) .category-icon {
            background-color: #2196f3;
        }

        label:nth-child(3) .category-icon {
            background-color: #e49928;

        }

        label:nth-child(4) .category-icon {
            background-color: #5b2ae0;

        }

        label:nth-child(5) .category-icon {
            background-color: #ff0000;

        }

        label {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            padding: 1rem;
            height: 100%;
            cursor: pointer;
            @include mixin.rounded();

            .category-icon {
                padding: 1rem;
                @include mixin.rounded(full);

                svg {
                    color: #fff;
                }
            }

            &:has(input:checked) {
                background-color: var(--background-color);
            }
        }
    }

}

#search.header {
    position: relative;
    grid-area: search;
    padding: 1.5rem 0 1rem;

    .header {
        display: flex;

        justify-content: space-between;
        gap: 1rem;
        align-items: center;

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            // TODO: when dark mode colors added
            // @include mixin.fix-color();

            img {
                width: 100%;
            }
        }

        .search_box {
            width: 100%;
        }
    }


    .selections {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        .categories {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .category {
                display: inline-block;
                background-color: var(--background-color);
                padding: .5rem 1rem;
                cursor: pointer;
                @include mixin.rounded(full);

                &.selected {
                    background-color: #000;
                    color: #fff;
                }
            }
        }

        .filter-btn {
            display: flex;
            align-items: center;
            cursor: pointer;
            color: var(--border-color);

            input {
                transform: scale(.8);
            }
        }

    }

    .filters {
        display: flex;
        position: absolute;
        align-items: center;
        gap: 1rem;
        top: 100%;
        opacity: 0;
        height: 0;
        transition: opacity 150ms ease-in-out, height 100ms ease-in-out;

        .filter {
            display: inline-block;
            background-color: var(--background-color);
            padding: .25rem .5rem;
            @include mixin.rounded();
        }
    }

    &:has(#filter:checked) .filters {
        opacity: 1;
        height: 2rem;
    }
}

input[type="checkbox"].switch {
    appearance: none;
    margin-right: .5rem;
    background-color: var(--border-color);
    color: var(--text-color);
    @include mixin.rounded(full);
    width: 40px;
    height: 20px;
    min-height: 20px;
    display: inline-block;
    position: relative;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    transition: background-color 200ms ease-in-out;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include mixin.left(2.5px);
        width: 15px;
        height: 15px;
        background-color: var(--filled-text-color);
        @include mixin.rounded(sm);
        transition: background-color 200ms ease-in-out,
            left 200ms ease-in-out,
            right 200ms ease-in-out;
    }

    &:checked {
        background-color: var(--primary-color);

        &::after {
            background-color: var(--filled-text-color);
            @include mixin.left(calc(100% - 17.5px));
        }
    }
}

@media (scripting: none) {
    .js-only {
        display: none !important;
    }

    .js-alt {
        display: inherit;
    }
}

@media (scripting: enabled) {
    .js-alt {
        display: none !important;
    }
}

@keyframes loading-indecator {
    0% {
        transform: scale(1);
        background-color: transparent;
    }

    50% {
        transform: scale(1);
        background-color: transparent;
    }

    75% {
        transform: scale(.9);
        background-color: var(--text-color);
    }
}