// In fiist place, Reset all browser default styles
@forward './reset.scss';

// Then, import all the definitions
@use './definitions.scss' as *;

// Then, import all the mixins
$dir: ltr !default;
@forward './mixins.scss' with ($dir: $dir !default);
@use './mixins.scss' as mixin;

// CSS Color varables
@use 'colors';

@function toPx($value) {
    @return $value * 16px;
}

%link-button {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: var(--primary-color);
    color: var(--filled-text-color);
    @include mixin.rounded(full)
}

body {
    display: flex;
    gap: 0;
    overflow: hidden;
    transition: padding 150ms ease-in-out,
        gap 200ms ease-in-out;

    .body-container {
        flex: 3;
        background-color: var(--background-color);
        color: var(--text-color);
        @include mixin.rounded();
    }
}


*:focus-visible {
    outline: 3px solid var(--primary-color);
    outline-offset: .1rem;
}

.body-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100svh;
    overflow: hidden;
    transition: height 100ms ease-in-out;

    footer {
        grid-area: footer;
    }

    main {
        grid-area: main;
    }
}

#index,
#None {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

// 404 page

main:has(.not-found) {
    .background {
        font-size: 60vh;
        color: var(--primary-color);
        opacity: .5;
        position: absolute;
        pointer-events: none;
    }

    h1 {
        z-index: 1;
        font-size: 3rem;
        text-align: center;
        margin: 1rem 0;
    }

    .button {
        z-index: 1;
        @extend %link-button;
    }
}


#index {
    header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;

        .logo {
            font-size: 2rem;
            display: block;
            text-align: center;

            img {
                max-width: clamp(70px, 25vw, 150px);
            }
        }

        .links {
            display: flex;
            gap: .5rem;

            .link {
                display: inline-block;
                padding: 0.5rem;
                height: min-content;
                @include mixin.rounded(full);
                transition: background-color 100ms ease-in-out;

                &:is(:hover, :focus-within) {
                    background-color: var(--secondary-background-color);
                }

                svg {
                    width: 1.5rem;
                }

                &.config {
                    transition: transform 1s ease-in-out;
                }
            }
        }
    }
}

body:has(.sidebar_btn[open]) {
    padding: .5rem;
    gap: .5rem;
    background-color: var(--secondary-background-color);

    #sidebar {
        flex: 1;
        min-width: $screen-xs;
        padding: 1rem;
    }

    #index {
        height: calc(100svh - 1rem);
    }

    header .links .link.config {
        background-color: var(--secondary-background-color);
        transform: rotate(60deg);
    }

}

#sidebar {
    flex: 0;
    min-width: 0;
    @include mixin.rounded();
    overflow: hidden;
    background: var(--background-color);
    transition: flex 300ms ease-in-out,
        min-width 300ms ease-in-out,
        padding 200ms ease-in-out;
    position: relative;

    &>.container {
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        overflow-y: auto;
        position: absolute;
        min-width: $screen-xs - toPx(2);
        transition: width 500ms ease-in-out;

        fieldset {
            padding: .5rem 0;

            .container {
                display: flex;
                padding: 0 .5rem;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                gap: .5rem;

                select {
                    padding: .5rem 1rem;
                    background-color: var(--secondary-background-color);
                    color: var(--text-color);
                    @include mixin.rounded(sm);
                    max-width: 250px;
                }
            }

            .description {
                margin: .5rem;
                text-align: justify;
                color: var(--text-color);
                font-size: .8rem;
            }
        }

        button {
            padding: .5rem;
            background-color: var(--primary-color);
            width: 100%;
            color: var(--filled-text-color);
            @include mixin.rounded(sm);
            margin: .5rem 0;

            &.reset {
                background-color: var(--secondary-color);
            }
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;

    @include mixin.max-screens($screen-md) {
        justify-content: center;
    }

    .links {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;

        a {
            @extend %link-button;
        }
    }
}

#search {
    #search_categories .categories {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;

        label {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;
        }
    }

    .search_box {
        background-color: var(--secondary-background-color);
        padding: .5rem;
        @include mixin.rounded(full);
        display: flex;
        gap: 1rem;

        input {
            flex: 1;
            background-color: transparent;
            border: none;
            color: var(--text-color);
            @include mixin.rounded(full);
            padding: .5rem;

            &:focus {
                outline: none;
            }
        }

        button {
            background-color: transparent;
            border: none;
            color: var(--text-color);
            @include mixin.rounded(full);
            padding: .5rem;

            &:focus {
                outline: none;
            }
        }

        #clear_search {
            background-color: transparent;
            border: none;
            color: var(--text-color);
            @include mixin.rounded(full);
            padding: .5rem;

            &:focus {
                outline: none;
            }
        }

        #send_search {
            background-color: var(--primary-color);
            color: var(--filled-text-color);
            @include mixin.rounded(full);
            padding: 0 1rem;

            &:focus {
                outline: none;
            }
        }
    }
}

@media (scripting: none) {
    .js-only {
        display: none !important;
    }

    .js-alt {
        display: inherit;
    }
}

@media (scripting: enabled) {
    .js-alt {
        display: none !important;
    }
}