// In fiist place, Reset all browser default styles
@forward './reset.scss';

// Then, import all the definitions
@use './definitions.scss' as *;

// Then, import all the mixins
$dir: ltr !default;
@forward './mixins.scss' with ($dir: $dir !default);
@use './mixins.scss' as mixin;

// CSS Color varables
@use 'colors';

// Button
@use 'button';

// Tooltip
@use 'tooltip';

@use 'bar_chart';

@forward './infobox.scss';

@forward './results';

// Result Styles
@forward './results/default';
@forward './results/images';
@forward './results/videos';

@forward './preferences';

@forward './stats.scss';

@forward './pagination';
@forward 'loading_indicator';

@forward './suggestions';

@function toRem($value) {
    @return floor($value / 16) * 1rem;
}

%link-button {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: var(--primary-color);
    color: var(--filled-text-color);
    @include mixin.rounded(full)
}

br {
    height: 1rem;
    width: 100%;
    display: block;
    content: " ";
}

body {
    display: flex;
    justify-content: center;
    gap: 0;
    overflow: hidden;
    transition: gap 250ms ease-in-out,
        padding 500ms ease-in-out,
        background-color 300ms ease-in-out;

    background-color: var(--secondary-background-color);

    .body-container {
        flex: 3;
        background-color: var(--secondary-background-color);
        color: var(--text-color);
        @include mixin.rounded();
    }
}


*:focus-visible {
    outline: 3px solid var(--primary-color);
    outline-offset: .1rem;
}

.icon-big {
    width: 4rem;
}

.icon {
    width: 2.25rem;
}

.icon-small {
    width: 1.5rem;
}

.body-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100svh;
    overflow: hidden;
    transition: height 100ms ease-in-out;
    container-name: body;

    footer {
        grid-area: footer;
    }

    main {
        grid-area: main;
    }
}

.links {
    display: flex;
    gap: .5rem;

    .link {
        display: inline-block;
        padding: 0.5rem;
        height: min-content;
        @include mixin.rounded(full);
        transition: background-color 100ms ease-in-out;

        &:is(:hover, :focus-within) {
            background-color: var(--background-color);
        }

        svg {
            width: 1.5rem;
        }

        &.config {
            transition: transform 1s ease-in-out;
            cursor: pointer;
        }
    }
}

#index,
#None {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@include mixin.max-screens($screen-md) {
    #index:has(#suggestion button)>main {
        justify-content: flex-start;
    }
}

// 404 page

main:has(.not-found) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .background {
        font-size: 60vh;
        color: var(--primary-color);
        opacity: .5;
        position: absolute;
        pointer-events: none;
    }

    h1 {
        z-index: 1;
        font-size: 3rem;
        text-align: center;
        margin: 1rem 0;
    }

    .button {
        z-index: 1;
        @extend %link-button;
    }
}


#index {
    header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;

        .logo {
            font-size: 2rem;
            display: block;
            text-align: center;
            @include mixin.fix-color();

            img {
                max-width: clamp(70px, 25vw, 150px);
            }
        }
    }
}

.links {
    grid-area: links;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: end;

    :is(.link, .sidebar_btn) {
        @include mixin.rounded(full);
        width: 40px;
        height: 40px;
    }
}

body:has(.sidebar_btn input:checked) {
    background-color: var(--background-color);

    @include mixin.screens($screen-md) {
        padding: .5rem;
        gap: .5rem;
    }

    #sidebar {
        flex: 1;
        min-width: $screen-xs;
        border-width: 5px;

        &>.container {
            @include mixin.margin-left(0);
            transition: margin-left 150ms ease-in-out 100ms;
        }
    }


    #index {
        height: calc(100svh - 1rem);

        @include mixin.max-screens($screen-md) {
            height: 100svh;
        }
    }

    @include mixin.max-screens($screen-md) {
        .body-container {
            flex: 0;
        }

        #results {
            padding: 0;
        }
    }

    header .links .link.config {
        background-color: var(--secondary-background-color);
        transform: rotate(60deg);
    }

}

#sidebar {
    flex: 0;
    min-width: 0;
    overflow: hidden;
    background: var(--secondary-background-color);
    border: var(--secondary-background-color) solid;
    border-width: 0;
    transition: flex 300ms ease-in-out,
        min-width 300ms ease-in-out;
    position: relative;

    @include mixin.screens($screen-md) {
        @include mixin.rounded();
    }

    &>.container {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        color: var(--text-color);
        position: absolute;
        min-width: $screen-xs - 2rem;
        padding: 1rem;
        @include mixin.margin-left(50rem);
        transition: margin-left 50ms ease-in-out;

        :is(button, .btn) {
            margin-bottom: .5rem;
        }

        h1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;
            font-size: 1.5rem;
            padding: .25rem 0;
            text-align: center;
            color: var(--text-color);
            @include mixin.rounded(full);

            @include mixin.screens($screen-md) {
                justify-content: center;

                label {
                    display: none;
                }
            }
        }

        .about {
            background-color: var(--background-color);
            overflow: hidden;
            @include mixin.rounded();
            padding: 1rem;

            p {
                text-align: justify;
                font-size: .8rem;
            }

            ul {
                padding-left: 1rem;

                li {
                    margin: .5rem 0;
                }
            }

        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;

    @include mixin.max-screens($screen-md) {
        justify-content: center;
        text-align: center;
    }

    .footer-links {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;

        a {
            @extend %link-button;
        }
    }
}

.search_box {
    background-color: var(--background-color);
    padding: .25rem .5rem;
    width: clamp(400px, 50vw, 40rem);
    position: relative;
    @include mixin.rounded(full);
    display: flex;
    align-items: center;
    gap: .5rem;

    @include mixin.max-screens($screen-sm) {
        width: calc(100% - 2rem);
        margin: 0 1rem;
        @include mixin.rounded();

        &+#suggestion {
            width: calc(100% - 2rem);
            margin: 1rem 1rem 0;
        }
    }

    .icon {
        @include mixin.margin-left(.5rem);
        width: 1.5rem;
        height: 1.5rem;
    }


    input[type="text"] {
        flex: 1;
        background-color: transparent;
        width: inherit;
        border: none;
        color: var(--text-color);
        @include mixin.rounded(full);
        padding: .5rem;


        &:focus {
            outline: none;
        }

        &::placeholder {
            text-align: mixin.returnAlign(left);
        }
    }

    button {
        background-color: transparent;
        border: none;
        color: var(--text-color);
        @include mixin.rounded(full);
        padding: .5rem;

        &:focus {
            outline: none;
        }
    }

    #clear_search {
        background-color: transparent;
        border: none;
        color: var(--border-color);
        @include mixin.rounded(full);
        padding: .5rem;

        &:focus {
            outline: none;
        }

        &:hover {
            color: var(--text-color);
        }
    }

    #send_search {
        background-color: var(--secondary-color);
        padding: .5rem 1.5rem;
        text-transform: capitalize;

        @include mixin.max-screens($screen-md) {
            display: none;
        }

        &:focus {
            outline: none;
        }
    }
}

#search.screen {
    .search_box {
        margin-top: 1rem;
    }

    #search_categories .categories {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        @include mixin.max-screens($screen-md) {
            transform: scale(0.8);
        }

        @include mixin.max-screens($screen-sm) {
            display: none;
        }

        label:nth-child(1) .category-icon {
            background-color: #32e258;
        }

        label:nth-child(2) .category-icon {
            background-color: #2196f3;
        }

        label:nth-child(3) .category-icon {
            background-color: #e49928;

        }

        label:nth-child(4) .category-icon {
            background-color: #5b2ae0;

        }

        label:nth-child(5) .category-icon {
            background-color: #ff0000;

        }

        label {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            padding: 1rem;
            height: 100%;
            cursor: pointer;
            @include mixin.rounded();
            text-transform: capitalize;
            transition: background-color 250ms ease-out;

            .category-icon {
                padding: 1rem;
                @include mixin.rounded(full);

                svg {
                    color: #fff;
                }
            }

            &:has(input:checked) {
                background-color: var(--background-color);
            }
        }
    }
}

#search.header {
    position: relative;
    grid-area: search;
    padding: 1.5rem 0 1rem;

    .header {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;

        @include mixin.max-screens($screen-md) {
            flex-direction: column;
        }

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;

            @include mixin.fix-color();

            img {
                width: 100%;
            }
        }

        .search_box {
            width: 100%;
        }
    }


    .selections {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        @include mixin.max-screens($screen-md) {
            max-width: calc(100vw - 2rem);
            overflow-x: auto;
        }

        .categories {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;

            .category {
                text-transform: capitalize;
                display: inline-block;
                background-color: var(--background-color);
                padding: .5rem 1rem;
                cursor: pointer;
                @include mixin.rounded(full);

                &.selected {
                    background-color: var(--text-color);
                    color: var(--background-color);
                }
            }
        }

        .filter-btn {
            display: flex;
            align-items: center;
            cursor: pointer;
            color: var(--secondary-text-color);

            input {
                transform: scale(.8);
            }
        }

    }

    .filters {
        display: flex;
        position: absolute;
        align-items: center;
        gap: 1rem;
        top: 100%;
        opacity: 0;
        height: 0;
        transition: opacity 150ms ease-in-out, height 100ms ease-in-out;

        .filter {
            display: inline-block;
            background-color: var(--background-color);
            padding: .25rem .5rem;
            @include mixin.rounded();
        }
    }

    &:has(#filter:checked) .filters {
        opacity: 1;
        height: 2rem;
    }
}

.suggestion-box {
    display: flex;
    @include mixin.rounded();
    margin-top: 1rem;
    flex-direction: column;
    gap: 1rem;
    max-height: 50vh;
    overflow-y: auto;

    // no scrollbar
    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

    &:has(button) {
        padding: 1rem;
        background-color: var(--background-color);
    }

    button {
        background-color: transparent;
        border: none;

        &:focus {
            background-color: var(--primary-color);
        }
    }
}

:is(#info, #preferences, #stats) #search {
    position: relative;

    #suggestion {
        top: 100%;
        position: absolute;
        width: 100%;
    }
}

#results .suggestion-box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
}

:is(.message, .plain-text) {
    p {
        margin-bottom: 1.25rem;
    }

    a {
        color: var(--primary-color);
    }

    img {
        max-width: 100%;
    }

    pre {
        margin: .5rem;

        code {
            display: block;
        }
    }

    code {
        font-family: monospace;
        @include mixin.rounded(sm);
        background-color: var(--secondary-text-color);
        color: var(--secondary-background-color);
        padding: .5rem .25rem;
    }

    :is(h1, h2, h3, h4, h5, h6) {
        margin-bottom: .75rem;
        font-weight: 700;
        font-size: 1.3rem;
    }

    li {
        margin-bottom: .5rem;
        padding-inline-start: 1rem;

        &::marker {
            color: var(--text-color);
        }
    }

    :is(ol, ul) {
        margin-bottom: 1rem;
        margin-inline-start: 1.5rem;
    }

    ol li {
        list-style-type: decimal;
    }

    ul li {
        list-style-type: disc;

        ul li {
            list-style-type: circle;

            ul li {
                list-style-type: square;
            }
        }
    }

    hr {
        margin: 1rem;
        opacity: .2;
    }

    :last-child {
        margin-bottom: 0;
    }
}

#info .plain-text {
    grid-area: main;
    background-color: var(--background-color);
    padding: 2rem;

    @include mixin.rounded(lg);
}

input[type="checkbox"].switch {
    appearance: none;
    margin-right: .5rem;
    background-color: var(--border-color);
    color: var(--text-color);
    @include mixin.rounded(full);
    width: 40px;
    height: 20px;
    min-height: 20px;
    display: inline-block;
    position: relative;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    transition: background-color 200ms ease-in-out;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include mixin.left(2.5px);
        width: 15px;
        height: 15px;
        background-color: var(--filled-text-color);
        @include mixin.rounded(sm);
        transition: background-color 200ms ease-in-out,
            left 200ms ease-in-out,
            right 200ms ease-in-out;
    }

    &:checked {
        background-color: var(--primary-color);

        &::after {
            background-color: var(--filled-text-color);
            @include mixin.left(calc(100% - 17.5px));
        }
    }

    &.reverse {
        background-color: var(--primary-color);

        &::after {
            background-color: var(--filled-text-color);
            @include mixin.left(calc(100% - 17.5px));
        }

        &:checked {
            background-color: var(--border-color);

            &::after {
                @include mixin.left(2.5px);
                background-color: var(--filled-text-color);
            }
        }
    }
}

.error-container {
    z-index: 100;
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%) scale(1);
    background: rgba(200, 0, 0, .2);
    width: 50rem;
    max-width: calc(100vw - 4rem);
    border: rgba(200, 0, 0, .5) 1px solid;

    animation: move-up 2s 1s forwards;
    @include mixin.rounded(sm);
    padding: 1rem;

    ul {
        list-style: circle;
        @include mixin.margin-left(1rem);
    }
}

@media (scripting: none) {
    .js-only {
        display: none !important;
    }

    .js-alt {
        display: inherit;
    }
}

@media (scripting: enabled) {
    .js-alt {
        display: none !important;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes move-up {
    to {
        top: -50%;
        opacity: 0;
        transform: translateX(-50%) scale(.8);
    }
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--text-color) var(--background-color);
}