*, :before, :after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

body {
  line-height: inherit;
  margin: 0;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  vertical-align: middle;
  display: block;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

:root {
  --primary-color: #0290ee;
  --secondary-color: #009688;
  --background-color: #fff;
  --secondary-background-color: #f5f5f5;
  --text-color: #000;
  --filled-text-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #0290ee;
    --secondary-color: #009688;
    --background-color: #fff;
    --secondary-background-color: #f5f5f5;
    --text-color: #000;
    --filled-text-color: #fff;
  }
}

footer .links a, main:has(.not-found) .button {
  background-color: var(--primary-color);
  color: var(--filled-text-color);
  border-radius: 9999px;
  padding: .5rem 1rem;
  display: inline-block;
}

body {
  gap: 0;
  transition: padding .15s ease-in-out, gap .2s ease-in-out;
  display: flex;
  overflow: hidden;
}

body .body-container {
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 1rem;
  flex: 3;
}

:focus-visible {
  outline: 3px solid var(--primary-color);
  outline-offset: .1rem;
}

.icon-big {
  width: 4rem;
}

.icon {
  width: 2.25rem;
}

.icon-small {
  width: 1.5rem;
}

.body-container {
  grid-template: "header"
                 "main" 1fr
                 "footer"
                 / 1fr;
  height: 100svh;
  transition: height .1s ease-in-out;
  display: grid;
  overflow: hidden;
}

.body-container footer {
  grid-area: footer;
}

.body-container main {
  grid-area: main;
}

#index main, #None main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

main:has(.not-found) .background {
  color: var(--primary-color);
  opacity: .5;
  pointer-events: none;
  font-size: 60vh;
  position: absolute;
}

main:has(.not-found) h1 {
  z-index: 1;
  text-align: center;
  margin: 1rem 0;
  font-size: 3rem;
}

main:has(.not-found) .button {
  z-index: 1;
}

#index header {
  grid-area: header;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  display: flex;
}

#index header .logo {
  text-align: center;
  font-size: 2rem;
  display: block;
}

#index header .logo img {
  max-width: clamp(70px, 25vw, 150px);
}

#index header .links {
  gap: .5rem;
  display: flex;
}

#index header .links .link {
  border-radius: 9999px;
  height: min-content;
  padding: .5rem;
  transition: background-color .1s ease-in-out;
  display: inline-block;
}

#index header .links .link:is(:hover, :focus-within) {
  background-color: var(--secondary-background-color);
}

#index header .links .link svg {
  width: 1.5rem;
}

#index header .links .link.config {
  transition: transform 1s ease-in-out;
}

body:has(.sidebar_btn[open]) {
  background-color: var(--secondary-background-color);
  gap: .5rem;
  padding: .5rem;
}

body:has(.sidebar_btn[open]) #sidebar {
  flex: 1;
  min-width: 340px;
  padding: 1rem;
}

body:has(.sidebar_btn[open]) #index {
  height: calc(100svh - 1rem);
}

body:has(.sidebar_btn[open]) header .links .link.config {
  background-color: var(--secondary-background-color);
  transform: rotate(60deg);
}

#sidebar {
  background: var(--background-color);
  border-radius: 1rem;
  flex: 0;
  min-width: 0;
  transition: flex .3s ease-in-out, min-width .3s ease-in-out, padding .2s ease-in-out;
  position: relative;
  overflow: hidden;
}

#sidebar > .container {
  width: calc(100% - 2rem);
  min-width: 308px;
  height: calc(100% - 2rem);
  transition: width .5s ease-in-out;
  position: absolute;
  overflow-y: auto;
}

#sidebar > .container fieldset {
  padding: .5rem 0;
}

#sidebar > .container fieldset .container {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  padding: 0 .5rem;
  display: flex;
}

#sidebar > .container fieldset .container select {
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  border-radius: .5rem;
  max-width: 250px;
  padding: .5rem 1rem;
}

#sidebar > .container fieldset .description {
  text-align: justify;
  color: var(--text-color);
  margin: .5rem;
  font-size: .8rem;
}

#sidebar > .container button {
  background-color: var(--primary-color);
  width: 100%;
  color: var(--filled-text-color);
  border-radius: .5rem;
  margin: .5rem 0;
  padding: .5rem;
}

#sidebar > .container button.reset {
  background-color: var(--secondary-color);
}

footer {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  display: flex;
}

@media (width <= 768px) {
  footer {
    justify-content: center;
  }
}

footer .links {
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  display: flex;
}

#search #search_categories .categories {
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  display: flex;
}

#search #search_categories .categories label {
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  height: 100%;
  padding: 1rem;
  display: flex;
}

#search #search_categories .categories label:has(input:checked) {
  background-color: var(--secondary-background-color);
}

#search .search_box {
  background-color: var(--secondary-background-color);
  border-radius: 9999px;
  gap: 1rem;
  padding: .5rem;
  display: flex;
}

#search .search_box input {
  color: var(--text-color);
  background-color: #0000;
  border: none;
  border-radius: 9999px;
  flex: 1;
  padding: .5rem;
}

#search .search_box input:focus {
  outline: none;
}

#search .search_box button {
  color: var(--text-color);
  background-color: #0000;
  border: none;
  border-radius: 9999px;
  padding: .5rem;
}

#search .search_box button:focus {
  outline: none;
}

#search .search_box #clear_search {
  color: var(--text-color);
  background-color: #0000;
  border: none;
  border-radius: 9999px;
  padding: .5rem;
}

#search .search_box #clear_search:focus {
  outline: none;
}

#search .search_box #send_search {
  background-color: var(--primary-color);
  color: var(--filled-text-color);
  border-radius: 9999px;
  padding: 0 1rem;
}

#search .search_box #send_search:focus {
  outline: none;
}

@media (scripting: none) {
  .js-only {
    display: none !important;
  }

  .js-alt {
    display: inherit;
  }
}

@media (scripting: enabled) {
  .js-alt {
    display: none !important;
  }
}
