@font-face {
  font-family: Vazirmatn UI;
  src: url("Vazirmatn-UI-Thin.37503ccd.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn UI;
  src: url("Vazirmatn-UI-ExtraLight.cba2b231.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn UI;
  src: url("Vazirmatn-UI-Light.c77d6de0.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn UI;
  src: url("Vazirmatn-UI-Regular.a3c99ff7.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn UI;
  src: url("Vazirmatn-UI-Medium.972fdd22.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn UI;
  src: url("Vazirmatn-UI-SemiBold.37d9c53d.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn UI;
  src: url("Vazirmatn-UI-Bold.b0065d44.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn UI;
  src: url("Vazirmatn-UI-ExtraBold.c431ea38.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn UI;
  src: url("Vazirmatn-UI-Black.bc8837bc.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

*, :before, :after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

body {
  line-height: inherit;
  margin: 0;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  vertical-align: middle;
  display: block;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none !important;
}

body {
  --primary-color: #0290ee;
  --secondary-color: #f8b600;
  --background-color: #fff;
  --secondary-background-color: #f8f8f8;
  --text-color: #000;
  --secondary-text-color: #4d4d4d;
  --filled-text-color: #fff;
  --border-color: #b3b3b3;
  --secondary-border-color: #d9d9d9;
  --tooltip-background-color: #00000080;
}

@media (prefers-color-scheme: dark) {
  body {
    --primary-color: #0b9eff;
    --secondary-color: #c48e18;
    --background-color: #080808;
    --secondary-background-color: #191919;
    --text-color: #fff;
    --secondary-text-color: #b5b5b5;
    --filled-text-color: #fff;
    --border-color: #525252;
    --secondary-border-color: #2d2d2d;
    --tooltip-background-color: #00000080;
  }
}

:is(button, .btn) {
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  margin-trim: all;
  border-radius: .5rem;
  padding: .5rem 1rem;
  display: inline-block;
}

:is(button, .btn).primary {
  background-color: var(--primary-color);
  color: var(--filled-text-color);
}

:is(button, .btn).secondary {
  background-color: var(--secondary-color);
}

:is(button, .btn).full-width {
  width: 100%;
}

[tooltip] {
  position: relative;
}

[tooltip]:after {
  content: attr(tooltip);
  background: var(--tooltip-background-color);
  color: var(--filled-text-color);
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  border-radius: .5rem;
  padding: .25rem 1rem;
  transition: opacity .25s ease-in-out;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -20%);
}

[tooltip]:before {
  content: " ";
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  border-style: solid;
  border-width: 5px;
  border-color: var(--tooltip-background-color) transparent transparent transparent;
  transition: opacity .25s ease-in-out;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(calc(-50% - 1rem), 40%);
}

[tooltip].center-tooltip:before {
  transform: translate(-50%, 40%);
}

[tooltip]:hover:after, [tooltip]:hover:before {
  opacity: 1;
  transition: opacity .25s ease-in-out .5s;
}

.info-box {
  background: var(--background-color);
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.info-box .info-header {
  padding: 2rem 1.5rem .5rem;
}

.info-box .info-header h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.info-box .info-header .subtitle {
  color: var(--text-color);
  margin-top: .5rem;
  font-size: .9rem;
}

.info-box .image-gallery {
  scroll-snap-type: x mandatory;
  gap: .5rem;
  padding: 0 1.5rem;
  display: flex;
  overflow-x: auto;
}

.info-box .image-gallery img {
  object-fit: cover;
  scroll-snap-align: start;
  border-radius: .5rem;
  flex-shrink: 0;
  height: 150px;
}

.info-box .info-content {
  color: var(--text-color);
  padding: 1rem 1.5rem;
  font-size: .95rem;
  line-height: 1.5;
}

.info-box:has(#tab-info:checked) .info-attributes {
  display: block;
}

.info-box .info-attributes {
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
  display: none;
}

.info-box .info-attributes .attribute {
  border-bottom: 1px solid var(--border-color);
  justify-content: space-between;
  padding: .5rem 0;
  display: flex;
}

.info-box .info-attributes .attribute .label, .info-box .info-attributes .attribute .value {
  color: var(--text-color);
}

.info-box:has(#tab-info:checked) .info-urls {
  display: flex;
}

.info-box .info-urls {
  color: var(--text-color);
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding: .5rem 1.5rem 2.5rem;
  font-size: .9rem;
  line-height: 1.5;
  display: none;
}

.info-box .info-urls .url {
  border-bottom: 2px solid var(--border-color);
  padding: .25rem .5rem;
  text-decoration: none;
  display: inline-block;
}

.info-box .info-tabs {
  border-bottom: 1px solid var(--secondary-border-color);
  margin-bottom: 1rem;
  display: flex;
}

.info-box .info-tabs .tab {
  color: var(--text-color);
  border-bottom: 3px solid #0000;
  padding: .5rem 1.25rem;
  font-size: .9rem;
  text-decoration: none;
  transform: translateY(1px);
}

.info-box .info-tabs .tab:first-child {
  margin-right: 1.5rem;
}

.info-box .info-tabs .tab:has( + input:checked) {
  border-bottom-color: var(--secondary-color);
  font-weight: 600;
}

.info-box .info-tabs input[type="radio"] {
  display: none;
}

.default_group .result {
  border-bottom: var(--secondary-background-color) solid 1px;
  padding: 1.25rem;
}

.default_group .result .result-header {
  align-items: center;
  gap: 1rem;
  margin-bottom: .75rem;
  display: flex;
}

.default_group .result .result-header .favicon {
  width: 1rem;
  height: 1rem;
}

.default_group .result .result-header .title {
  color: var(--primary-color);
  flex: 1;
  font-size: 1.1rem;
  line-height: 1.4;
  text-decoration: none;
}

.default_group .result .result-header .date {
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  border-radius: .5rem;
  padding: .25rem .5rem;
  font-size: .8rem;
}

.default_group .result .result-body {
  gap: 1rem;
  margin-bottom: .75rem;
  display: flex;
}

.default_group .result .result-body .thumbnail {
  object-fit: cover;
  border-radius: 1rem;
  width: 5rem;
  height: 5rem;
}

.default_group .result .result-body .result-content {
  color: var(--text-color);
  font-size: .9rem;
  line-height: 1.5;
}

.default_group .result .result-meta {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  font-size: .8rem;
  display: flex;
}

.default_group .result .result-meta .result-url {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  border-radius: 9999px;
  padding: .25rem .5rem;
  font-size: .85rem;
  text-decoration: none;
  display: inline-block;
}

.default_group .result .result-meta .engines {
  gap: .5rem;
  display: flex;
}

.default_group .result .result-meta .engines .engine {
  border: 1px solid var(--border-color);
  text-wrap: nowrap;
  border-radius: 9999px;
  padding: .25rem .75rem;
  font-size: .7rem;
}

.images_group {
  columns: 15rem;
  gap: 1rem;
}

.images_group .image {
  cursor: pointer;
}

.images_group .image .image-box {
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.images_group .image .image-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform .3s;
}

.images_group .image .image-box .resolution {
  color: #fff;
  background: #000000b3;
  border-radius: .25rem;
  padding: .25rem .5rem;
  font-size: .8rem;
  position: absolute;
  bottom: .5rem;
  right: .5rem;
}

.images_group .image:is(:hover, :focus-within) .image-box img {
  transform: scale(1.05);
}

.images_group .image .image-info {
  padding: .5rem;
}

.images_group .image .image-info .title {
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: .25rem;
  font-size: .9rem;
  display: block;
  overflow: hidden;
}

.images_group .image .image-info .source {
  gap: .5rem;
  font-size: .7rem;
  display: flex;
}

.images_group .image .image-info .source .favicon {
  width: .8rem;
  height: .8rem;
}

.image-details-container {
  border-radius: 2rem;
  grid-area: image-detail;
  overflow: hidden;
}

.image-details-container .image-details {
  background: var(--background-color);
  border-radius: 2rem;
  height: 80vh;
  padding: 1.5rem;
  transition: top 25ms ease-in-out, height .25s ease-out;
  position: relative;
}

@media (width >= 90rem) {
  .image-details-container .image-details {
    min-width: 25rem;
  }
}

.image-details-container .image-details img {
  border-radius: .5rem;
  height: 30%;
  margin-bottom: 1.5rem;
}

.image-details-container .image-details h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.image-details-container .image-details .description {
  color: var(--text-color);
  margin-bottom: 1.5rem;
  font-size: .9rem;
  line-height: 1.5;
}

.image-details-container .image-details .meta {
  background-color: var(--secondary-background-color);
  border-radius: 1rem;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  display: flex;
}

.image-details-container .image-details .meta .meta-item {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.image-details-container .image-details .meta .source {
  background-color: var(--background-color);
  border-radius: 9999px;
  margin-top: .5rem;
  padding: .5rem 1rem;
}

.image-details-container .image-details .engine {
  align-items: center;
  gap: 1rem;
  display: flex;
}

.image-details-container .image-details .engine .engine-name {
  background-color: var(--secondary-background-color);
  border-radius: .5rem;
  padding: .5rem;
}

.image-details-container .image-details .actions {
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  display: flex;
}

.image-details-container .image-details .actions .btn {
  text-align: center;
  flex: 1;
  width: 100%;
  padding: .75rem;
  font-weight: 500;
}

.image-details-container .image-details .actions .btn.copy:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.image-details-container .image-details .close {
  color: var(--text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  border-radius: 9999px;
  padding: .25rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#preferences {
  grid-template: "header links" min-content
                 "main main"
                 "footer footer" min-content
                 / 2fr 1fr;
  gap: 1rem;
  max-width: 1800px;
  padding: 1rem;
  overflow-y: auto;
}

@media (width >= 90rem) {
  #preferences {
    padding: 1rem 4rem;
  }
}

#preferences .header {
  grid-area: header !important;
  padding: 0 !important;
}

#preferences #search.header {
  padding-top: .5rem !important;
}

#preferences .links {
  grid-area: links;
  justify-content: end;
  align-items: center;
}

#preferences footer {
  padding: 0;
}

#preferences #preferences_form {
  grid-area: main;
  grid-template-columns: subgrid;
  grid-template-areas: "main backup";
  display: grid;
}

#preferences #preferences_form .madules-container {
  grid-area: main;
  padding: 1.5rem;
}

#preferences #preferences_form .madules-container select {
  background-color: var(--secondary-background-color);
}

#preferences #preferences_form .madules-container .save-btn {
  text-align: center;
  width: 100%;
  margin-top: 1rem;
  display: block;
}

#preferences #preferences_form .backup-container {
  grid-area: backup;
}

#preferences #preferences_form .backup-container .backup-box {
  width: 100%;
  padding: 2rem;
}

#preferences #preferences_form .backup-container .backup-box .title {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
}

#preferences #preferences_form .backup-container .backup-box .description {
  text-align: justify;
  margin-bottom: 2rem;
}

#preferences #preferences_form .backup-container .backup-box > .btn {
  text-align: center;
  margin-top: 1rem;
  display: block;
}

#preferences #preferences_form .backup-container .backup-box .data-box {
  flex-direction: column;
  display: flex;
}

#preferences #preferences_form .backup-container .backup-box .data-box input[type="radio"]:checked + .data-page {
  margin-top: 1rem;
  display: block;
}

#preferences #preferences_form .backup-container .backup-box .data-box .data-page {
  background-color: var(--secondary-background-color);
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
  display: none;
}

#preferences #preferences_form .backup-container .backup-box .data-box .data-page .section {
  border-bottom: 1px solid var(--secondary-border-color);
  padding: .5rem 0;
}

#preferences #preferences_form .backup-container .backup-box .data-box .data-page :last-child {
  border-bottom: none;
}

#preferences #preferences_form .backup-container .backup-box .data-box .data-page h4 {
  margin-bottom: .5rem;
}

#preferences #preferences_form .backup-container .backup-box .data-box .data-page p {
  text-indent: 1rem;
  color: var(--secondary-text-color);
  text-align: justify;
  font-size: .9rem;
}

#preferences #preferences_form .backup-container .backup-box .data-box .data-page input {
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: .5rem;
  width: 100%;
  margin-bottom: .5rem;
  padding: .5rem 1rem;
}

#preferences #preferences_form .backup-container .backup-box .data-box .data-page .sidebyside {
  gap: .5rem;
  display: flex;
}

#preferences #preferences_form .backup-container .backup-box .data-box .data-page .sidebyside input {
  flex: 1;
  margin: 0;
}

#preferences #preferences_form :is(.madules-container, .backup-box) {
  background-color: var(--background-color);
  border-radius: 2rem;
}

fieldset {
  margin-bottom: .5rem;
  padding: .5rem 0;
}

fieldset .container {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  padding: 0 .5rem;
  display: flex;
}

fieldset .container .name {
  align-items: center;
  gap: .5rem;
  display: flex;
}

fieldset .container .name:not(#pref_safesearch)[tooltip]:after {
  left: 100%;
}

fieldset .container .name svg {
  width: 1.2rem;
  height: 1.2rem;
}

fieldset .container select {
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: .5rem;
  max-width: 250px;
  padding: .5rem 1rem;
}

fieldset .description {
  text-align: justify;
  color: var(--text-color);
  margin: 1rem 1rem 0;
  font-size: .8rem;
}

footer .footer-links a, main:has(.not-found) .button {
  background-color: var(--primary-color);
  color: var(--filled-text-color);
  border-radius: 9999px;
  padding: .5rem 1rem;
  display: inline-block;
}

br {
  content: " ";
  width: 100%;
  height: 1rem;
  display: block;
}

body {
  background-color: var(--secondary-background-color);
  gap: 0;
  transition: gap .25s ease-in-out, padding .5s ease-in-out, background-color .3s ease-in-out;
  display: flex;
  overflow: hidden;
}

body .body-container {
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  border-radius: 1rem;
  flex: 3;
}

:focus-visible {
  outline: 3px solid var(--primary-color);
  outline-offset: .1rem;
}

.icon-big {
  width: 4rem;
}

.icon {
  width: 2.25rem;
}

.icon-small {
  width: 1.5rem;
}

.body-container {
  grid-template: "header"
                 "main" 1fr
                 "footer"
                 / 1fr;
  height: 100svh;
  transition: height .1s ease-in-out;
  display: grid;
  overflow: hidden;
}

.body-container footer {
  grid-area: footer;
}

.body-container main {
  grid-area: main;
}

.links {
  gap: .5rem;
  display: flex;
}

.links .link {
  border-radius: 9999px;
  height: min-content;
  padding: .5rem;
  transition: background-color .1s ease-in-out;
  display: inline-block;
}

.links .link:is(:hover, :focus-within) {
  background-color: var(--background-color);
}

.links .link svg {
  width: 1.5rem;
}

.links .link.config {
  transition: transform 1s ease-in-out;
}

#index main, #None main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

main:has(.not-found) .background {
  color: var(--primary-color);
  opacity: .5;
  pointer-events: none;
  font-size: 60vh;
  position: absolute;
}

main:has(.not-found) h1 {
  z-index: 1;
  text-align: center;
  margin: 1rem 0;
  font-size: 3rem;
}

main:has(.not-found) .button {
  z-index: 1;
}

#index header {
  grid-area: header;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  display: flex;
}

#index header .logo {
  text-align: center;
  font-size: 2rem;
  display: block;
}

@media (prefers-color-scheme: dark) {
  #index header .logo {
    mix-blend-mode: luminosity;
    filter: invert();
  }
}

#index header .logo img {
  max-width: clamp(70px, 25vw, 150px);
}

#results {
  grid-template: "search links" 5rem
                 "search amount" min-content
                 "results sidebox" 1fr
                 "footer footer"
                 / 2fr 1fr;
  gap: 1rem;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 1rem;
  transition: grid-template-columns .3s ease-in-out;
  display: grid;
  overflow: hidden auto;
}

@media (width >= 90rem) {
  #results {
    padding: 0 4rem;
  }
}

#results .result-count {
  color: var(--secondary-text-color);
  grid-area: amount;
  font-size: .8rem;
}

#results .result-count-container {
  justify-content: end;
  align-items: center;
  gap: .5rem;
  display: flex;
}

#results footer {
  grid-area: footer;
}

#results:has(#filter:checked) .results-container {
  margin-top: 2rem;
}

#results .info-panel {
  grid-area: sidebox;
}

#results .results-container {
  grid-area: results;
  transition: margin-top .1s ease-in-out;
  position: relative;
}

#results .results-container .message-container {
  background-color: var(--background-color);
  border-radius: 2rem;
  padding: 1.5rem;
  position: relative;
}

#results .results-container .message-container .title {
  align-items: center;
  gap: .5rem;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
}

#results .results-container .message-container .title svg {
  fill: var(--primary-color);
}

#results .results-container .message-container .message-box {
  margin-top: 1rem;
}

#results .results-container .message-container .message-box .message {
  background-color: var(--secondary-background-color);
  border-radius: 1.5rem 1.5rem 1.5rem .5rem;
  width: 80%;
  max-width: 800px;
  padding: 1rem;
  overflow: hidden;
}

#results .results-container .message-container .message-box .message p {
  margin-bottom: 1.25rem;
}

#results .results-container .message-container .message-box .message a {
  color: var(--primary-color);
}

#results .results-container .message-container .message-box .message img {
  max-width: 100%;
}

#results .results-container .message-container .message-box .message pre {
  margin: .5rem;
}

#results .results-container .message-container .message-box .message pre code {
  display: block;
}

#results .results-container .message-container .message-box .message code {
  background-color: var(--secondary-text-color);
  color: var(--filled-text-color);
  border-radius: .5rem;
  padding: .5rem .25rem;
  font-family: monospace;
}

#results .results-container .message-container .message-box .message :is(h1, h2, h3, h4, h5, h6) {
  margin-bottom: .75rem;
  font-size: 1.3rem;
  font-weight: 700;
}

#results .results-container .message-container .message-box .message li {
  margin-bottom: .5rem;
  padding-left: 1rem;
}

#results .results-container .message-container .message-box .message li::marker {
  color: var(--text-color);
}

#results .results-container .message-container .message-box .message :is(ol, ul) {
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

#results .results-container .message-container .message-box .message ol li {
  list-style-type: decimal;
}

#results .results-container .message-container .message-box .message ul li {
  list-style-type: disc;
}

#results .results-container .message-container .message-box .message ul li ul li {
  list-style-type: circle;
}

#results .results-container .message-container .message-box .message ul li ul li ul li {
  list-style-type: square;
}

#results .results-container .message-container .message-box .message hr {
  opacity: .2;
  margin: 1rem;
}

#results .results-container .message-container .message-box .message :last-child {
  margin-bottom: 0;
}

#results .results-container .message-container .message-box .reference {
  color: var(--text-color);
  margin-top: 1rem;
  font-size: .8rem;
}

#results .results-container .message-container .message-box .reference a {
  background-color: var(--secondary-background-color);
  padding: 0 .5rem;
  display: inline-block;
}

#results .results-container .message-container .message-box.user {
  flex-direction: row-reverse;
  display: flex;
}

#results .results-container .message-container .message-box.user .message {
  background-color: var(--primary-color);
  color: var(--filled-text-color);
  border-radius: 1.5rem 1.5rem .5rem;
}

#results .results-container .message-container .load-container {
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  display: none;
}

#results .results-container .message-container .load-container .loading-indecators {
  background-color: var(--filled-text-color);
  border-radius: .5rem 1.5rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: 1rem;
  display: flex;
}

#results .results-container .message-container .load-container .loading-indecators .indecator {
  border: 2px solid var(--text-color);
  border-radius: 9999px;
  width: .6rem;
  height: .6rem;
  animation: 2s infinite loading-indecator;
}

@media (prefers-color-scheme: dark) {
  #results .results-container .message-container .load-container .loading-indecators .indecator {
    border-color: var(--background-color);
    animation-name: loading-indecator-dark;
  }
}

#results .results-container .message-container .load-container .loading-indecators :nth-child(2) {
  animation-delay: 1s;
}

#results .results-container .message-container .load-container .loading-indecators :nth-child(3) {
  animation-delay: .5s;
}

#results .results-container .message-container .load-container .btn.stop {
  background-color: var(--text-color);
  color: var(--filled-text-color);
  border-radius: 9999px;
  align-items: center;
  gap: 1rem;
  display: flex;
}

@media (prefers-color-scheme: dark) {
  #results .results-container .message-container .load-container .btn.stop {
    color: var(--background-color);
  }
}

#results .results-container .message-container .send-message {
  border: 1px solid var(--border-color);
  border-radius: 9999px;
  align-items: center;
  gap: .5rem;
  width: calc(100% - 3rem);
  margin-top: 1rem;
  padding: 0 .5rem;
  display: flex;
  position: absolute;
  bottom: 1.5rem;
}

#results .results-container .message-container .send-message input {
  color: var(--text-color);
  background-color: #0000;
  border: none;
  border-radius: 9999px;
  flex: 1;
  padding: .5rem;
}

#results .results-container .message-container .send-message input:focus {
  outline: none;
}

#results .results-container .message-container .send-message button {
  background-color: #0000;
  border: none;
}

#results .results-container .message-container .send-message button:focus {
  outline: none;
}

#results .results-container .message-container.ai {
  padding: 1.5rem 1.5rem 5rem;
}

#results .results-container .message-container.ai.loading {
  background-color: var(--primary-color);
  color: var(--filled-text-color);
  padding: 1.5rem;
}

#results .results-container .message-container.ai.loading svg {
  fill: var(--filled-text-color);
}

@media (prefers-color-scheme: dark) {
  #results .results-container .message-container.ai.loading svg {
    fill: var(--background-color);
  }
}

#results .results-container .message-container.ai.loading .title svg {
  fill: var(--filled-text-color);
}

#results .results-container .message-container.ai.loading .load-container {
  display: flex;
}

#results .results-container .message-container.ai.loading :is(.message-box, .send-message) {
  display: none;
}

#results .results-container .result-group {
  background-color: var(--background-color);
  border-radius: 2rem;
  margin-top: 1rem;
  padding: 1rem;
}

#results .results-container .result-group:first-child {
  margin-top: 0;
}

#results:has(.image-page) {
  grid-template-columns: 2fr 1fr 0fr;
  grid-template-areas: "search links links"
                       "search amount amount"
                       "results results image-detail"
                       "footer footer footer";
}

#results:has(.image-page):has(.multiple-results) {
  grid-template-areas: "search links links"
                       "search amount amount"
                       "results sidebox image-detail"
                       "footer footer footer";
}

#results.image-open {
  grid-template-columns: 2fr 0fr 1fr;
}

#results.image-open:has(.multiple-results) {
  grid-template-columns: 2fr 1fr 1fr;
}

#results .share_btn {
  background-color: #0000;
  border: none;
  border-radius: 9999px;
  padding: .25rem;
}

#results .share_btn:hover {
  background-color: var(--background-color);
}

#results .share_btn svg {
  width: 1rem;
  height: 1rem;
}

.links {
  grid-area: links;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.links :is(.link, .sidebar_btn) {
  width: 40px;
  height: 40px;
}

body:has(.sidebar_btn[open]) {
  background-color: var(--background-color);
  gap: .5rem;
  padding: .5rem;
}

body:has(.sidebar_btn[open]) #sidebar {
  border-width: 5px;
  flex: 1;
  min-width: 25rem;
}

body:has(.sidebar_btn[open]) #sidebar > .container {
  margin-right: 0;
  transition: margin-left .15s ease-in-out .1s;
}

body:has(.sidebar_btn[open]) #index {
  height: calc(100svh - 1rem);
}

body:has(.sidebar_btn[open]) header .links .link.config {
  background-color: var(--secondary-background-color);
  transform: rotate(60deg);
}

#sidebar {
  background: var(--secondary-background-color);
  border: var(--secondary-background-color) solid;
  border-width: 0;
  border-radius: 1rem;
  flex: 0;
  min-width: 0;
  transition: flex .3s ease-in-out, min-width .3s ease-in-out;
  position: relative;
  overflow: hidden;
}

#sidebar > .container {
  width: 100%;
  height: 100%;
  color: var(--text-color);
  min-width: 23rem;
  margin-right: 50rem;
  padding: 1rem;
  transition: margin-left 50ms ease-in-out;
  position: absolute;
  overflow: hidden auto;
}

#sidebar > .container :is(button, .btn) {
  margin-bottom: .5rem;
}

#sidebar > .container h1 {
  text-align: center;
  color: var(--text-color);
  border-radius: 9999px;
  padding: .25rem 0;
  font-size: 1.5rem;
}

#sidebar > .container .about {
  background-color: var(--background-color);
  border-radius: 1rem;
  padding: 1rem;
  overflow: hidden;
}

#sidebar > .container .about p {
  text-align: justify;
  font-size: .8rem;
}

#sidebar > .container .about ul {
  padding-left: 1rem;
}

#sidebar > .container .about ul li {
  margin: .5rem 0;
}

footer {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  display: flex;
}

@media (width <= 56rem) {
  footer {
    justify-content: center;
  }
}

footer .footer-links {
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  display: flex;
}

.search_box {
  background-color: var(--background-color);
  border-radius: 9999px;
  flex-wrap: wrap;
  align-items: center;
  gap: .5rem;
  width: clamp(400px, 50vw, 40rem);
  padding: .25rem .5rem;
  display: flex;
}

@media (width <= 35rem) {
  .search_box {
    border-radius: 1rem;
    width: 70vw;
  }
}

.search_box .icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
}

.search_box input {
  color: var(--text-color);
  direction: rtl;
  background-color: #0000;
  border: none;
  border-radius: 9999px;
  flex: 1;
  padding: .5rem;
}

.search_box input:focus {
  outline: none;
}

.search_box button {
  color: var(--text-color);
  background-color: #0000;
  border: none;
  border-radius: 9999px;
  padding: .5rem;
}

.search_box button:focus {
  outline: none;
}

.search_box #clear_search {
  color: var(--border-color);
  background-color: #0000;
  border: none;
  border-radius: 9999px;
  padding: .5rem;
}

.search_box #clear_search:focus {
  outline: none;
}

.search_box #clear_search:hover {
  color: var(--text-color);
}

.search_box #send_search {
  background-color: var(--secondary-color);
  text-transform: capitalize;
  padding: .5rem 1.5rem;
}

.search_box #send_search:focus {
  outline: none;
}

#search.screen .search_box {
  margin-top: 1rem;
}

#search.screen #search_categories .categories {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  display: flex;
}

@media (width <= 56rem) {
  #search.screen #search_categories .categories {
    transform: scale(.8);
  }
}

@media (width <= 35rem) {
  #search.screen #search_categories .categories {
    display: none;
  }
}

#search.screen #search_categories .categories label:first-child .category-icon {
  background-color: #32e258;
}

#search.screen #search_categories .categories label:nth-child(2) .category-icon {
  background-color: #2196f3;
}

#search.screen #search_categories .categories label:nth-child(3) .category-icon {
  background-color: #e49928;
}

#search.screen #search_categories .categories label:nth-child(4) .category-icon {
  background-color: #5b2ae0;
}

#search.screen #search_categories .categories label:nth-child(5) .category-icon {
  background-color: red;
}

#search.screen #search_categories .categories label {
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  height: 100%;
  padding: 1rem;
  display: flex;
}

#search.screen #search_categories .categories label .category-icon {
  border-radius: 9999px;
  padding: 1rem;
}

#search.screen #search_categories .categories label .category-icon svg {
  color: #fff;
}

#search.screen #search_categories .categories label:has(input:checked) {
  background-color: var(--background-color);
}

#search.header {
  grid-area: search;
  padding: 1.5rem 0 1rem;
  position: relative;
}

#search.header .header {
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  display: flex;
}

#search.header .header .logo {
  justify-content: center;
  align-items: center;
  width: 100px;
  display: flex;
}

@media (prefers-color-scheme: dark) {
  #search.header .header .logo {
    mix-blend-mode: luminosity;
    filter: invert();
  }
}

#search.header .header .logo img, #search.header .header .search_box {
  width: 100%;
}

#search.header .selections {
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  display: flex;
}

#search.header .selections .categories {
  justify-content: center;
  align-items: center;
  gap: .5rem;
  display: flex;
}

#search.header .selections .categories .category {
  text-transform: capitalize;
  background-color: var(--background-color);
  cursor: pointer;
  border-radius: 9999px;
  padding: .5rem 1rem;
  display: inline-block;
}

#search.header .selections .categories .category.selected {
  color: #fff;
  background-color: #000;
}

#search.header .selections .filter-btn {
  cursor: pointer;
  color: var(--border-color);
  align-items: center;
  display: flex;
}

#search.header .selections .filter-btn input {
  transform: scale(.8);
}

#search.header .filters {
  opacity: 0;
  align-items: center;
  gap: 1rem;
  height: 0;
  transition: opacity .15s ease-in-out, height .1s ease-in-out;
  display: flex;
  position: absolute;
  top: 100%;
}

#search.header .filters .filter {
  background-color: var(--background-color);
  border-radius: 1rem;
  padding: .25rem .5rem;
  display: inline-block;
}

#search.header:has(#filter:checked) .filters {
  opacity: 1;
  height: 2rem;
}

input[type="checkbox"].switch {
  appearance: none;
  background-color: var(--border-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 9999px;
  width: 40px;
  height: 20px;
  min-height: 20px;
  margin-right: .5rem;
  transition: background-color .2s ease-in-out;
  display: inline-block;
  position: relative;
}

input[type="checkbox"].switch:after {
  content: "";
  background-color: var(--filled-text-color);
  border-radius: .5rem;
  width: 15px;
  height: 15px;
  transition: background-color .2s ease-in-out, left .2s ease-in-out, right .2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 2.5px;
  transform: translateY(-50%);
}

input[type="checkbox"].switch:checked {
  background-color: var(--primary-color);
}

input[type="checkbox"].switch:checked:after {
  background-color: var(--filled-text-color);
  right: calc(100% - 17.5px);
}

@media (scripting: none) {
  .js-only {
    display: none !important;
  }

  .js-alt {
    display: inherit;
  }
}

@media (scripting: enabled) {
  .js-alt {
    display: none !important;
  }
}

@keyframes loading-indecator {
  0% {
    background-color: #0000;
    transform: scale(1);
  }

  50% {
    background-color: #0000;
    transform: scale(1);
  }

  75% {
    background-color: var(--text-color);
    transform: scale(.9);
  }
}

@keyframes loading-indecator-dark {
  0% {
    background-color: #0000;
    transform: scale(1);
  }

  50% {
    background-color: #0000;
    transform: scale(1);
  }

  75% {
    background-color: var(--background-color);
    transform: scale(.9);
  }
}

* {
  font-family: Vazirmatn UI, sans-serif;
}
